<header id="header" class="triangle">
  <!-- Menu toggle Mobile -->
  <label id="toggle" class="toggle"></label>

    <!-- Start Header-Inner -->
    <div class="header-inner cleafix">

      <!-- Start Header-Logo -->
      <div class="header-logo">
        <a routerLink="">
          <img src="assets/img/logosuzosky.png" alt="logo" style="height: 99px; width: 99px;">
        </a>
      </div>
      <!-- End Header-Logo -->

      <!-- Start Header-Tool-Bar -->
      <div class="header-tool-bar">
        <div class="container">
          <div class="row">

            <!-- Start Header-Left -->
            <div class="col-lg-4 col-md-5 col-xs-12 header-left">

              <!-- Start Header-Contact -->
              <ul class="custom-list header-contact">
                <li>
                  <i class="fa fa-phone"></i>
                  +225 66 14 49 73
                </li>
                <li>
                  <i class="fa fa-envelope"></i>
                  <a href="mailto:conciergerie@suzosky.com">
                    conciergerie@suzosky.com
                  </a>
                </li>
              </ul>
              <!-- End Header-Contact -->

            </div>
            <!-- End Header-Left -->

            <!-- Start Header-Right -->
            <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-2 header-right">

              <!-- Start Social -->
              <ul class="header-social custom-list">
                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
              </ul>
              <!-- End Social -->


              <!-- Start Header-Login -->
              <div class="header-login">
                <button class="header-btn" *ngIf="!isAuth" (click)="onLoginPage()">
                  <i class="fa fa-key"></i>
                  Login
                </button>
                <button class="header-btn" *ngIf="isAuth" (click)="onSignOut()">
                  <i class="fa fa-key"></i>
                  logout
                </button>
              </div>

              <!-- End Header-Login -->

              <!-- Start Header-Language -->
              <div class="header-language">
                <button class="header-btn">
                  <i class="fa fa-globe"></i>
                  EN
                </button>
                <nav class="header-form">
                  <ul class="custom-list">
                    <li class="active"><a href="#">EN</a></li>
                    <li><a href="#">DE</a></li>
                    <li><a href="#">FR</a></li>
                    <li><a href="#">IT</a></li>
                  </ul>
                </nav>
              </div>
              <!-- End Header-Language -->

            </div>
            <!-- End Header-Right -->

          </div>
        </div>
      </div>
      <!-- End Header-tool-bar -->

      <!-- Start Header-Nav -->
      <div class="header-nav">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">

              <!-- Start Nav -->
              <nav role="navigation">
                <ul class="nav navbar-nav">
                  <li routerLinkActive="active"><a routerLink="">Home</a></li>
                  <li routerLinkActive="active"><a routerLink="immobiliers">Immobiliers</a></li>
                  <li routerLinkActive="active"><a routerLink="vehicules">Vehicules</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li routerLinkActive="active"><a routerLink="restaurants">Restaurants</a></li>
                  <li routerLinkActive="active"><a routerLink="evenementiel">Evenementiel</a></li>
                  <li routerLinkActive="active"><a routerLink="contacts">Contacts</a></li>
                </ul>
              </nav>
              <!-- End Nav -->

            </div>
          </div>
        </div>
      </div>
      <!-- End Header-Nav -->

    </div>
    <!-- End Header-Inner -->

</header>
