<header id="header" class="triangle header-title contacts">
  <!-- Start Header-Title-Inner -->
  <div class="header-title-inner">
    <div class="container">
      <h3 class="pull-left"></h3>
      <ul class="custom-list breadcrumbs pull-right">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="/contacts">Contact</a></li>
      </ul>
    </div>
  </div>
  <!-- End Header-Title-Inner -->
</header>
<!-- Start Contact -->
<section class="contact-map style-1">

  <!-- Start Map Contact -->
  <div id="map-contact1">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3972.1742656153606!2d-4.012833985234813!3d5.390393196090272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfc195802a25fcc9%3A0x5f864ea37ab22cf5!2sLes%20D%C3%A9lices%20de%20Mme%20Cam&#39;s!5e0!3m2!1sfr!2sci!4v1607506874235!5m2!1sfr!2sci" width="100%" height="690" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
  <!-- End Map Contact -->

  <div class="container">
    <!-- Start Contact-Info -->
    <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1">
      <div class="contact-info">
        <ul class="custom-list contact-info-details">
          <li><b>Concierge HQ</b></li>
          <li>Marcory, VGE,</li>
          <li>Immeuble « Plein Ciel »</li>
          <li>Phone: 66144973</li>
          <li>conciergerie@suzosky.com</li>
        </ul>
      </div>
    </div>
    <!-- End Contact-Info -->

    <!-- Start Contact-Form -->
    <div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
      <div class="contact-form">
        <h5 class="contact-form-title">Send us a message</h5>
        <img src="assets/img/divisor.png" alt="" class="divisor">

        <form [formGroup]="contactForm" (ngSubmit)="onSaveContact()">
          <p class="alert-message warning"><i class="ico fa fa-exclamation-circle"></i> All fields are required!</p>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-row">
              <div class="form-group"><label for="name" class="required">Name</label><input type="text" id="name" name="name" class="form-control" formControlName="name" /></div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-row">
              <div class="form-group"><label for="phone" class="required">Phone</label><input type="text" id="phone" name="phone" class="form-control" formControlName="phone" /></div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-row">
              <div class="form-group"><label for="email" class="required">Email</label><input type="text" id="email" name="email" class="form-control" formControlName="email" /></div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-row">
              <div class="form-group"><label for="topic" class="required">Topic</label><input type="text" id="topic" name="topic" class="form-control" formControlName="topic" /></div>
              </div>
            </div>
          </div>
          <div class="form-row">
          <div class="form-group"><label for="message" class="required">Message</label><textarea id="message" name="message" class="form-control" formControlName="message"></textarea></div>
          </div>
          <button class="btn dark" type="submit" [disabled]="contactForm.invalid">Send Message</button>
        </form>

      </div>
    </div>
    <!-- End Contact-Form -->

  </div>
</section>
<!-- End Contact -->
