<header id="header" class="triangle header-title restaurants">

  <!-- Start Header-Title-Inner -->
  <div class="header-title-inner">
    <div class="container">
      <h3 class="pull-left"></h3>
      <ul class="custom-list breadcrumbs pull-right">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="/restaurants">Restaurants</a></li>
      </ul>
    </div>
  </div>
  <!-- End Header-Title-Inner -->
</header>

<!-- Start Section Fleets -->
<section class="fleets">
  <div class="container">
    <div class="row">

      <!-- Start Fleets-Listing-Header -->
      <div class="col-lg-12">
        <div class="fleets-listing-header clearfix">
          <h5>Restaurants</h5>
          <ul class="custom-list fleets-listing-pagination">
            <li class="prev"><a href="#">Previous</a></li>
            <li class="number"><a href="#" class="active">1</a></li>
            <li class="number"><a href="#">2</a></li>
            <li class="number"><a href="#">3</a></li>
            <li class="number"><a href="#">4</a></li>
            <li class="next"><a href="#">Next</a></li>
          </ul>
        </div>
      </div>
      <!-- End Fleets-Listing-Header -->

      <!-- Start Fleets List -->
      <section class="fleets">
        <div class="container">
          <div class="row">
            <!-- Start Fleets List -->
            <div class="col-lg-3 col-md-4 col-sm-6 fleet-grid layout-grid" >
              <div class="thumb fleet-thumb">
                <div class="overlay">
                  <img src="assets/img/fleet-vechicle.png" alt="">
                  <div class="overlay-shadow">
                    <div class="overlay-content">
                      <a routerLink="/vehicules" class="btn light">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="fleet-vechicle-content">
                <header class="fleet-vechicle-header">
                  <h5><a routerLink="/vehicules"></a></h5>
                  <span>Starting from $899</span>
                </header>
                <ul class="custom-list fleet-vechicle-properties">
                  <li>Interieur <strong></strong></li>
                  <li>Couleur <strong></strong> </li>
                  <li>Modèle <strong></strong> </li>
                  <li>Fuel Capacity<strong>8 hours</strong></li>
                  <li>Max Weight<strong>2t</strong></li>
                  <li>Pilots (Min.)<strong>2</strong></li>
                </ul>
              </div>
            </div>
            <!-- End Fleets List -->

          </div>
        </div>
      </section>
      <!-- End Fleets List -->

    </div>
  </div>
</section>
<!-- End Section Fleets -->
