<header id="header" class="triangle header-title contacts">
  <!-- Start Header-Title-Inner -->
  <div class="header-title-inner">
    <div class="container">
      <h3 class="pull-left"></h3>
      <ul class="custom-list breadcrumbs pull-right">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="/auth/signup">Inscription</a></li>
      </ul>
    </div>
  </div>
  <!-- End Header-Title-Inner -->
</header>
<!-- Start Contact -->
<section class="container">
  <div class="row">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Inscription</h5>
            <div class="form-group">
              <div class="col-sm-6">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" formControlName="username" class="form-control">
              </div>
              <div class="col-sm-6">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" formControlName="password" class="form-control">
              </div>
              <div class="col-sm-6">
                <label for="lastname">Lastname</label>
                <input type="text" id="lastname" name="lastname" formControlName="lastname" class="form-control">
              </div>
              <div class="col-sm-6">
                <label for="firstname">Firstname</label>
                <input type="text" id="firstname" name="firstname" formControlName="firstname" class="form-control">
              </div>
              <div class="col-sm-6">
                <label for="phone">Phone</label>
                <input type="text" id="phone" name="phone" formControlName="phone" class="form-control">
              </div>
              <div class="col-sm-6">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" formControlName="email" class="form-control">
              </div>
            </div>
            <button type="submit" class="btn btn-info" [disabled]="signUpForm.invalid">S'inscrire</button>
            <button type="button" class="btn btn-info" (click)="signIn()">Se connecter</button>
          </div>
          <p class="text-danger">{{ errorMessage }}</p>
        </div>
      </div>
    </form>
  </div>
</section>
<!-- End Contact -->
