<!-- End Header -->
<header id="header" class="triangle header-title immobiliers">

  <!-- Start Header-Title-Inner -->
  <div class="header-title-inner">
    <div class="container">
      <h3 class="pull-left"></h3>
      <ul class="custom-list breadcrumbs pull-right">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="/immobiliers">Immobiliers</a></li>
      </ul>
    </div>
  </div>
  <!-- End Header-Title-Inner -->
</header>
<!-- Start Section Fleets -->
<section class="fleets">
  <div class="container">
    <div class="row">

      <!-- Start Filters -->
      <div class="col-lg-3">
        <div class="fleets-filters toggle-container">
          <h5 class="fleets-filters-title toggle-title">Filters</h5>
          <aside class="toggle-content">

            <!-- Start Propeties Search Basic -->
            <div class="fleets-search-basic">

              <!-- Start Propities Search Type -->
              <div class="default-form fleets-search-type box-row">
                <h5 class="filter-title">Immobilier Type</h5>
                <p class="form-row">
                  <span class="radio-input" *ngFor="let typeimmobilier of typeimmobiliers">
                    <input [id]="typeimmobilier['id']" type="radio" name="filter_type" [value]="typeimmobilier['title']">
                    <label>{{typeimmobilier.title}}</label>
                  </span>
                </p>
              </div>
              <!-- End Propities Search Type -->

              <form  class="default-form">

                <!-- Start Propities Availability -->
                <div class="fleets-availability box-row">
                  <h5 class="filter-title">Available on</h5>
                  <p class="form-row">
                        <span class="hire-input calendar">
                          <input type="text" name="hireOn" placeholder="Hire On" data-dateformat="m/d/y">
                          <i class="fa fa-calendar"></i>
                        </span>
                  </p>
                  <p class="form-row">
                        <span class="return-input calendar">
                          <input type="text" name="Retun On" placeholder="Return On" data-dateformat="m/d/y">
                          <i class="fa fa-calendar"></i>
                        </span>
                  </p>
                </div>
                <!-- End Propities Availability -->

                <!-- Start Propities Capacity -->
                <div class="fleets-capacity box-row">
                  <h5 class="filter-title">Capacity (People)</h5>
                  <p class="form-row">
                      <span class="people select-box">
                        <select name="people" data-placeholder="People">
                          <option>People</option>
                          <option value="1">2</option>
                          <option value="2">3</option>
                          <option value="3">4</option>
                        </select>
                      </span>
                  </p>
                </div>
                <!-- End Propities Capacity -->

              </form>
            </div>
            <!-- End Propeties Search Basic -->

            <!-- Start Properties Search Filter -->
            <div class="fleets-search-filter">
              <form class="default-form">

                <!-- Start Price Range -->
                <div class="slider-range-container box-row">
                  <h5 class="filter-title">Price Range</h5>
                  <div class="slider-range" data-min="2000" data-max="100000" data-step="2000" data-default-min="2000" data-default-max="50000" data-currency="$"></div>
                  <div class="clearfix">
                    <input type="text" class="range-from" value="$2000">
                    <input type="text" class="range-to" value="$50000">
                  </div>
                </div>
                <!-- End Price Range -->

                <!-- Start Additional-Services -->
                <div class="fleets-additional-services box-row">
                  <h5 class="filter-title">Additional Services</h5>
                  <ul class="custom-list additional-filter-list clearfix">
                    <li>
                          <span class="checkbox-input">
                            <input type="checkbox" id="additional-filter-all-inclusive">
                            <label for="additional-filter-all-inclusive">All Inclusive</label>
                          </span>
                    </li>
                    <li>
                          <span class="checkbox-input">
                            <input type="checkbox" id="additional-filter-2way-flight" checked="checked">
                            <label for="additional-filter-2way-flight">2 Way Flight</label>
                          </span>
                    </li>
                    <li>
                          <span class="checkbox-input">
                            <input type="checkbox" id="additional-filter-business-package">
                            <label for="additional-filter-business-package">Business Package</label>
                          </span>
                    </li>
                  </ul>
                </div>
                <!-- End Additional-Services -->

                <a href="#" class="btn dark">Filter Result Now</a>
              </form>
            </div>
            <!-- End Propeties Search Filter -->

          </aside>
        </div>
      </div>
      <!-- End Filters -->

      <!-- Start Fleets-Listing-Header -->
      <div class="col-lg-9">
        <div class="fleets-listing-header clearfix">
          <h5>Available Immobiliers</h5>
          <ul class="custom-list fleets-listing-pagination">
            <li class="prev"><a href="#">Previous</a></li>
            <li class="number"><a href="#" class="active">1</a></li>
            <li class="number"><a href="#">2</a></li>
            <li class="number"><a href="#">3</a></li>
            <li class="number"><a href="#">4</a></li>
            <li class="next"><a href="#">Next</a></li>
          </ul>
        </div>
      </div>
      <!-- End Fleets-Listing-Header -->


      <!-- Start Fleet-Listing -->
      <div class="col-lg-9">
        <div class="fleet-listing">

          <!-- Start Fleet-List -->
          <ul class="custom-list fleet-list layout-list">

            <li class="fleet-vechicle" *ngFor="let immobilier of immobiliers">
              <div class="thumb fleet-thumb">
                <div class="overlay">
                  <img src="assets/img/fleet-vechicle.png" alt="">
                  <div class="overlay-shadow">
                    <div class="overlay-content">
                      <a routerLink="/immobiliers" class="btn light">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content fleet-vechicle-content">
                <header class="fleet-vechicle-header">
                  <h5><a routerLink="/immobiliers">{{immobilier.title}}</a></h5>
                  <span>Starting from $899</span>
                </header>
                <ul class="custom-list properties fleet-vechicle-properties left-side pull-left">
                  <li>Wifi<strong>{{immobilier.wifi}}</strong></li>
                  <li>Rooms Service <strong>{{immobilier.roomservices}}</strong> </li>
                  <li>Max Speed <strong>1 Ma</strong> </li>
                </ul>
                <ul class="custom-list properties fleet-vechicle-properties right-side pull-right">
                  <li>Restaurant <strong>{{immobilier.restaurant}}</strong></li>
                  <li>Parking<strong>{{immobilier.parking}}</strong> </li>
                  <li>Autre Comodite <strong>{{immobilier.autrecomodite}}</strong> </li>
                </ul>
              </div>
            </li>

          </ul>
          <!-- End Fleet-List -->

          <!-- Start Fleets-Listing-Footer -->
          <div class="fleets-listing-footer clearfix">
            <ul class="custom-list fleets-listing-pagination pull-right">
              <li class="prev"><a href="#">Previous</a></li>
              <li class="number"><a href="#" class="active">1</a></li>
              <li class="number"><a href="#">2</a></li>
              <li class="number"><a href="#">3</a></li>
              <li class="number"><a href="#">4</a></li>
              <li class="next"><a href="#">Next</a></li>
            </ul>
          </div>
          <!-- End Fleets-Listing-Footer -->

        </div>
      </div>
      <!-- End Section Fleet Listing -->

    </div>
  </div>
</section>
<!-- End Section Fleets -->
