<header id="header" class="triangle header-title contacts">
  <!-- Start Header-Title-Inner -->
  <div class="header-title-inner">
    <div class="container">
      <h3 class="pull-left"></h3>
      <ul class="custom-list breadcrumbs pull-right">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="/auth/signin">Connexion</a></li>
      </ul>
    </div>
  </div>
  <!-- End Header-Title-Inner -->
</header>
<!-- Start Contact -->
<section class="container">
  <div class="row">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Connexion</h5>
            <div class="form-group">
              <div class="col-6">
                <label for="email">Username</label>
                <input type="text" id="email" name="email" formControlName="email" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <div class="col-6">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" formControlName="password" class="form-control">
              </div>
            </div>
            <button type="submit" class="btn btn-info" [disabled]="loginForm.invalid" href="loginRedirect()">Se connecter</button>
            <button type="button" class="btn btn-info" (click)="signUp()">S'inscrire'</button>
          </div>
          <p class="text-danger">{{ errorMessage }}</p>
        </div>
      </div>
    </form>
  </div>
</section>
<!-- End Contact -->
