<header id="header" class="triangle">

  <!-- Menu toggle Mobile -->
  <label id="toggle" class="toggle"></label>

  <!-- Start Banner -->
  <div id="banner">
    <div class="banner-bg">
      <div class="banner-bg-item"><img src="assets/img/yacht.png" alt=""></div>
      <div class="banner-bg-item"><img src="assets/img/jet.png" alt=""></div>
      <div class="banner-bg-item"><img src="assets/img/car.png" alt=""></div>
      <div class="banner-bg-item"><img src="assets/img/transfertcar.png" alt=""></div>
      <div class="banner-bg-item"><img src="assets/img/home.png" alt=""></div>
    </div>

    <div class="css-table">
      <div class="css-table-cell">

        <!-- Start Banner-Search -->
        <div class="banner-search">
          <div class="container">
            <div id="hero-tabs" class="banner-search-inner">
              <ul class="custom-list tab-title-list clearfix">
                <li class="tab-title active"><a href="#yachts">Yachts</a></li>
                <li class="tab-title"><a href="#privjet">Private Jet Charter</a></li>
                <li class="tab-title"><a href="#luxcars">Limmo/Luxury Cars</a></li>
                <li class="tab-title"><a href="#cartrans">Car transfer</a></li>
                <li class="tab-title"><a href="#home">Immobilier</a></li>
              </ul>
              <ul class="custom-list tab-content-list">

                <!-- Start Yachts -->
                <li class="tab-content active">
                  <form action="index.html" class="default-form">
                          <span class="where-input">
                            <input type="text" placeholder="Where">
                          </span>
                    <span class="hire-input calendar">
                            <input type="text" name="hireOn" placeholder="Hire On" data-dateformat="m/d/y">
                            <i class="fa fa-calendar"></i>
                          </span>
                    <span class="return-input calendar">
                            <input type="text" name="Retun On" placeholder="Return On" data-dateformat="m/d/y">
                            <i class="fa fa-calendar"></i>
                          </span>
                    <span class="model select-box">
                            <select name="model" data-placeholder="Model">
                              <option>Model</option>
                              <option value="1">Model 1</option>
                              <option value="2">Model 2</option>
                              <option value="3">Model 3</option>
                            </select>
                          </span>
                    <span class="submit-btn">
                            <button class="btn light">Book Now</button>
                            <a href="#">Advanced Search</a>
                          </span>
                  </form>
                </li>
                <!-- End Yachts -->

                <!-- Start Privjet -->
                <li class="tab-content">
                  <form class="default-form">
                          <span class="point-a select-box">
                             <select name="point b" data-placeholder="Point A">
                              <option>Point A</option>
                              <option value="1">Point B</option>
                              <option value="2">Point C</option>
                              <option value="3">Point D</option>
                            </select>
                          </span>
                    <span class="point-b select-box">
                             <select name="point a" data-placeholder="Point B">
                              <option>Point B</option>
                              <option value="1">Point C</option>
                              <option value="2">Point D</option>
                              <option value="3">Point E</option>
                            </select>
                          </span>
                    <span class="departure-input calendar">
                            <input type="text" placeholder="Departure">
                            <i class="fa fa-calendar"></i>
                          </span>
                    <span class="arrival-input calendar">
                            <input type="text" placeholder="Arrival">
                            <i class="fa fa-calendar"></i>
                          </span>
                    <span class="people select-box">
                            <select name="people" data-placeholder="People">
                              <option>People</option>
                              <option value="1">2</option>
                              <option value="2">3</option>
                              <option value="3">4</option>
                            </select>
                          </span>
                    <span class="submit-btn">
                            <button class="btn light">Book Now</button>
                            <a href="#">Advanced Search</a>
                          </span>
                  </form>
                </li>
                <!-- End Privjet -->

                <!-- Start Luxcars -->
                <li class="tab-content">
                  <form class="default-form">
                          <span class="where-input">
                            <input type="text" placeholder="From Where">
                          </span>
                    <span class="hire-input calendar">
                            <input type="text" placeholder="Hire On">
                            <i class="fa fa-calendar"></i>
                          </span>
                    <span class="return-input calendar">
                            <input type="text" placeholder="Return On">
                            <i class="fa fa-calendar"></i>
                          </span>
                    <span class="model select-box">
                            <select name="model" data-placeholder="Model">
                              <option>Model</option>
                              <option value="1">Model 1</option>
                              <option value="2">Model 2</option>
                              <option value="3">Model 3</option>
                            </select>
                          </span>
                    <span class="submit-btn">
                            <button class="btn light">Book Now</button>
                            <a href="#">Advanced Search</a>
                          </span>
                  </form>
                </li>
                <!-- End Luxcars -->

                <!-- Start Car-trans -->
                <li class="tab-content">
                  <form class="default-form">
                          <span class="point-a select-box">
                             <select name="point b" data-placeholder="Point A">
                              <option>Point A</option>
                              <option value="1">Point B</option>
                              <option value="2">Point C</option>
                              <option value="3">Point D</option>
                            </select>
                          </span>
                    <span class="point-b select-box">
                             <select name="point a" data-placeholder="Point B">
                              <option>Point B</option>
                              <option value="1">Point C</option>
                              <option value="2">Point D</option>
                              <option value="3">Point E</option>
                            </select>
                          </span>
                    <span class="departure-input calendar">
                            <input type="text" placeholder="Departure">
                            <i class="fa fa-calendar"></i>
                          </span>
                    <span class="arrival-input calendar">
                            <input type="text" placeholder="Arrival">
                            <i class="fa fa-calendar"></i>
                          </span>
                    <span class="people select-box">
                            <select name="people" data-placeholder="People">
                              <option>People</option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                            </select>
                          </span>
                    <span class="submit-btn">
                            <button class="btn light">Book Now</button>
                            <a href="#">Advanced Search</a>
                          </span>
                  </form>
                </li>
                <!-- End Car-trans -->

              </ul>
            </div>
          </div>
        </div>
        <!-- End Banner-Search -->

      </div>
    </div>

  </div>
  <!-- End Banner -->

</header>
<!-- Start About -->
<section class="about">
  <div class="container">
    <div class="row">

      <!-- Start Preamble -->
      <div class="col-lg-12 preamble">
        <h3>About Concierge</h3>
        <img src="assets/img/divisor.png" alt="" class="divisor">
        <p>Nous sommes une conciergerie privée et nos services ne sont aucunement limité. <br />
          En effet, nous nous adaptons pleinement au besoins de nos clients, depuis la petite course journalière jusqu&#039;à l&#039;acquisition immobilière ou l&#039;organisation de séjour, la mise à disposition d&#039;un cuisinier étoilé etc.<br />
          Nous mettons un point d&#039;honneur à la personnalisation des services que nous fournissons afin de faire bénéficier à nos clients de la meilleure expérience avec pour seule effort : nous informer de ce qui lui ferait plaisir.</p>
      </div>
      <!-- End Preamble -->

      <!-- Start Package -->
      <div class="package col-lg-4 col-sm-6">
        <div class="package-inner-gold">
          <div class="package-value">

            <span class="package-unit"></span>
            <span class="package-cost"></span>
            <span class="package-per"></span>
          </div>
          <div class="package-label"><h5>Gold</h5></div>
        </div>
        <div class="package-include">
          <h5>Package Include</h5>
          <ul class="custom-list">
            <li>Véhicule classique</li>
            <li>chauffeur </li>
            <li>réservation </li>
            <li>Coursier</li>
          </ul>
        </div>
        <a href="#" class="btn dark">Sign Up Now</a>
      </div>
      <div class="package col-lg-4 col-sm-6">
        <div class="package-inner-diamond">
          <div class="package-value">
            <span class="package-unit"></span>
            <span class="package-cost"></span>
            <span class="package-per"></span>
          </div>
          <div class="package-label"><h5>Diamond</h5></div>
        </div>
        <div class="package-include">
          <h5>Package Include</h5>
          <ul class="custom-list">
            <li>Véhicule de luxe</li>
            <li>chauffeur bilingue</li>
            <li>réservation </li>
            <li>billet d'avion</li>
            <li>Coursier</li>
          </ul>
        </div>
        <a href="#" class="btn dark">Sign Up Now</a>
      </div>
      <div class="package col-lg-4 col-sm-6">
        <div class="package-inner-platinium">
          <div class="package-value">
            <span class="package-unit"></span>
            <span class="package-cost"></span>
            <span class="package-per"></span>
          </div>
          <div class="package-label"><h5>Platinium</h5></div>
        </div>
        <div class="package-include">
          <h5>Package Include</h5>
          <ul class="custom-list">
            <li>Véhicule de luxe</li>
            <li>chauffeur bilingue</li>
            <li>réservation </li>
            <li>billet d'avion</li>
            <li>Coursier</li>
            <li>cuisinier personnel</li>
            <li>programme de divertissement</li>
            <li>agent de sécurité</li>
            <li>Agent médical</li>
          </ul>
        </div>
        <a href="#" class="btn dark">Sign Up Now</a>
      </div>
      <!-- End Package -->

    </div>
  </div>
</section>
<!-- End About -->


<!-- Start Supertabs -->
<section class="supertabs">
  <div class="container">
    <div class="row">

      <!-- Start Tabs-Navigation -->
      <div class="col-lg-4 col-md-4 tabs-navigation">
        <ul class="custom-list tab-title-list">
          <li data-href="#fleet">
            <h5>Our Fleet</h5>
            <p>Modern. Safe. Luxurious.</p>
          </li>
          <li data-href="#drivers">
            <h5>Drivers On Call</h5>
            <p>Experience & Class</p>
          </li>
          <li data-href="#ourlocs">
            <h5>Our Locations</h5>
            <p>We Are Available</p>
          </li>
        </ul>
      </div>
      <!-- End Tabs-Navigation -->

      <div class="clearfix visible-sm visible-xs"></div>

      <!-- Start Tabs-Content -->
      <div class="col-lg-8 col-md-8 tabs-content">
        <ul class="custom-list tab-content-list">

          <!-- Start Fleet -->
          <li id="fleet" data-bgimage="assets/img/supertabs3.png">
            <div class="heading">
              <h5>Our Fleet</h5>
              <p>Modern. Safe. Luxurious.</p>
            </div>
            <cite>Nous mettons à votre disposition une flotte de véhicules totalement sécurisés et grand confort afin de vous faire profiter de la meilleure expérience qui soit.</cite>
          </li>
          <!-- End Fleet -->

          <!-- Start Drivers -->
          <li id="drivers" data-bgimage="assets/img/supertabs2.png">
            <div class="heading">
              <h5>Drivers On Call</h5>
              <p>Experience & Class</p>
            </div>
            <cite>Nos chauffeurs sont tous expérimentés, discret et courtois, résultats d'une formation approfondie dans le but  de proposer le meilleur à nos clients.</cite>
          </li>
          <!-- End Drivers -->

          <!-- Start Ourlocs -->
          <li id="ourlocs" data-bgimage="assets/img/supertabs1.png">
            <div class="heading">
              <h5>Our Locations</h5>
              <p>We Are Available</p>
            </div>
            <cite>Marcory, VGE,Immeuble « Plein Ciel ».</cite>
          </li>
          <!-- End Ourlocs -->

        </ul>
      </div>
      <!-- End Tabs-Content -->

    </div>
  </div>
</section>
<!-- End Supertabs -->
